<div id="<%= dom_id test_parameter_ref_range %>">
  <p>
    <strong>Lower limit:</strong>
    <%= test_parameter_ref_range.lower_limit %>
  </p>

  <p>
    <strong>Upper limit:</strong>
    <%= test_parameter_ref_range.upper_limit %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= test_parameter_ref_range.color %>
  </p>

  <p>
    <strong>Result type:</strong>
    <%= test_parameter_ref_range.result_type %>
  </p>

</div>
