<p style="color: green"><%= notice %></p>

<%= render @test_parameter_ref_range %>

<div>
  <%= link_to "Edit this test parameter ref range", edit_test_parameter_ref_range_path(@test_parameter_ref_range) %> |
  <%= link_to "Back to test parameter ref ranges", test_parameter_ref_ranges_path %>

  <%= button_to "Destroy this test parameter ref range", @test_parameter_ref_range, method: :delete %>
</div>
