<%= simple_form_for([@lab_test, @test_parameter]) do |f| %>
  <% if @test_parameter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(test_parameter.errors.count, "error") %> prohibited this test_parameter from being saved:</h2>

      <ul>
        <% @test_parameter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :description %>
  <%= f.input :name %>
  <%= f.input :key %>
  <%= f.input :cause_effect %>
  <%= f.input :what_can_do %>
  <%= f.input :did_you_konw %>



    <%= f.submit class: 'btn btn-primary' %>

<% end %>
