<div id="<%= dom_id test_parameter %>">
  <p>
    <strong>Description:</strong>
    <%= test_parameter.description %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= test_parameter.name %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= test_parameter.key %>
  </p>

  <p>
    <strong>Cause effect:</strong>
    <%= test_parameter.cause_effect %>
  </p>

  <p>
    <strong>What can do:</strong>
    <%= test_parameter.what_can_do %>
  </p>

  <p>
    <strong>Did you konw:</strong>
    <%= test_parameter.did_you_konw %>
  </p>

</div>
