<div class="container">
  <div class="header">
    <table style="width: 100%">
      <tr>
        <td colspan="3">
          <h1 class='test-header-pp'><%= test_result.patient_name %></h1>
        </td>
      </tr>
      <tr>
        <td class='header-info'><b><%= test_result.patient_no %></b></td>
        <td class='header-info'><b><%= test_result.gender %> | <%= test_result.age %></b></td>
        <td class='header-info'><b><%= (test_result.test_done_at.to_time.strftime("%d-%m-%Y") rescue "") %></b></td>
      </tr>  
      <tr>
        <td class='basic-info'><b> ACCESSION NO </b></td>
        <td class='basic-info'><b> BASIC INFO </b></td>
        <td class='basic-info'><b> DATE OF TEST </b></td>
      </tr>  
    </table>

    <div class='clearfix'></div>
  </div>
</div>

 