<div class='float-start'>
  <h4><%= @test_result.patient_name %></h4>
  <div class='text-body-secondary'><%= @test_result.uuid %></div>
</div> 

<div class='float-end'>
  <%= link_to "Print PDF", @test_result.pdf.url, class: 'btn btn-sm btn-success', target: "_blank" %>
  <%= link_to "Re-Generate PDF", generate_pdf_test_result_path(@test_result), class: 'btn btn-sm btn-primary', target: "_blank" %>
  <%= link_to "Back", test_results_path, class: 'btn btn-sm btn-dark' %>
</div>

<div class="clearfix"></div>
 

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Supplied Data</h5>

    <pre>
      <code>
        <%= JSON.pretty_generate(@test_result.result) %>
      </code>
    </pre> 
  </div>
</div>