<div class='float-start'>
  <%= @lab_test.name %>
  <div class='text-body-secondary'><%= @lab_test.key %></div>
</div> 


<div class='float-end'>
  <%= link_to "Edit this lab test", edit_lab_test_path(@lab_test), class: 'btn btn-sm btn-primary' %> 
  <%= link_to "Add Parameter", new_lab_test_test_parameter_path(@lab_test), class: 'btn btn-sm btn-success' %> 
  <%= link_to "Back to lab tests", lab_tests_path, class: 'btn btn-sm btn-dark' %>
</div>

<div class="clearfix"></div>
 
 
<% @lab_test.test_parameters.each do |test_parameter| %>
  <div class="card mb-1">
    <div class="card-header">
      <div class='float-start'>
        <%= test_parameter.name %>
        <div class='text-body-secondary'><%= test_parameter.key %></div>
      </div>  
      <div class='float-end'>
        <%= link_to "Edit Parameter", edit_lab_test_test_parameter_path(@lab_test, test_parameter) %>
        <%= link_to "Add Ref Range", new_lab_test_test_parameter_parameter_ref_range_path(@lab_test, test_parameter) %>
      </div>
    </div>

    <div class="card-body p-0">
      <div class='p-2'>
        <div>
          <p class='mb-0'><b>Description</b></p>
          <%= test_parameter.description.to_s.html_safe %>
        </div>

        <div>
          <p class='mb-0'><b>cause_effect</b></p>
          <%= test_parameter.cause_effect.to_s.html_safe %>
        </div>

        <div>
          <p class='mb-0'><b>what_can_do</b></p>
          <%= test_parameter.what_can_do.to_s.html_safe %>
        </div>

        <div>
          <p class='mb-0'><b>did_you_konw</b></p>
          <%= test_parameter.did_you_konw.to_s.html_safe %>
        </div>

      </div>  

      
      <table class="table table-hover mb-0 table-bordered">
        <thead>
          <tr>
            <% if test_parameter.parameter_type == 'string' %>
              <th scope="col">Result</th>
            <%else%>
              <th scope="col">Lower Limit</th>
              <th scope="col">Upper Limit</th>
            <%end%>  
            <th scope="col">Result Type</th>
            <th scope="col">Color</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% test_parameter.parameter_ref_ranges.each do |pr| %>
            <tr>
              <% if test_parameter.parameter_type == 'string' %>
                <td><%= pr.result %></td>
              <%else%>
                <td><%= pr.lower_limit %></td>
                <td><%= pr.upper_limit %></td>
              <%end%>  
              <td><%= pr.result_type %></td>
              <td><%= pr.color %></td>
              <td class="text-end">
                <%= link_to "Edit", edit_lab_test_test_parameter_parameter_ref_range_path(@lab_test, test_parameter, pr.id) %>
                <%= link_to "Delete", lab_test_test_parameter_parameter_ref_range_path(@lab_test, test_parameter, pr.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-danger' %>
                 
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
<%end%>
 